nbproject
coverage
pkg
doc
Thumbs.db
Desktop.ini
.DS_Store
._.DS_Store
.Spotlight-v100
.yardoc
.project
.tmp*
*.log
*.pid
.eprj
.tmtags
*~
~*
*.swp
target
library
*.tmproj
teste
application/.tmp
.#*
Thumbs
app/views_c/
index.php
app/config.ini
