/*
	@author - Marcos Paiva.
	@App - Cadastro de Paróquias e Capelas.
	@version - beta.
	
	Here I added a different style sheet to style the buttons on the site. Inspired by the tutorial: http://www.sohtanaka.com/web-design/liquid-color-adjustable-css-buttons/
	
*/


.btn_more_left{float:left;background: url("../img/btn_left.png") no-repeat;padding: 0 0 0 10px;}
.btn_more_center{height:40px;float:left;font-size:14px;background: url("../img/btn_stretch.png") repeat-x left top;line-height: 40px;}
.btn_more_right{background: url("../img/btn_right.png") 0 0 no-repeat; float: left;width: 10px;height: 40px;}
