/*
	@author - Marcos Paiva.
	@App - Cadastro de Paróquias e Capelas.
	@version - beta.
	
	
*/

.common_top{padding:5px 0;}
.common_top a{display:block;width:230px;height:120px;background:url("../img/logo_top_less.jpg") 0 0 no-repeat;overflow:hidden;text-indent:-9999px;}
