/*
	@author - Marcos Paiva.
	@App - Cadastro de Paróquias e Capelas.
	@version - beta.
*/

/*The color reference: #15508A as first - #008AC9 as light blue - #FF6C00as orange over*/

/*estiliza a caixa de propaganda*/
#ads{border-bottom:1px dotted #008AC9; padding-bottom:10px;}
	#ads a{display:block;width:728px; height:90px; margin:0 auto;}

/*topo comum*/
#common_top{min-height:160px;padding-bottom:10px;padding-top:10px;}
#common_logo a{
				display:block;
				width:400px;
				height:160px;
				background:url("../img/logo_top.jpg") 0 0 no-repeat;
				overflow:hidden;
				text-indent:-9999px;				
				}

/*
===================================
LOGIN
===================================
*/
#login{font-size:12px;min-height:30px;}
	#login form fieldset{float:left;margin-left:50px;}	
		#login form fieldset legend{display:none;}
		#login form fieldset label{display:block;float:left;line-height:30px;}
	#login form input{background:url("../img/background_login.jpg")0 0 no-repeat;
					  border:none;
					  display:block;
					  height:20px;
					  float:left;
					  margin:1px 5px;
					  padding:4px;
					  width:160px;
					  line-height:30px;
						}
	#login form input[type="submit"]{
		border:none;
		background-position:-168px 0;
		float:left;
		font-size:14px;
		text-align:center;
		color:#fff;
		height:27px;
		padding:2px;
		width:59px;
		cursor:pointer;
	}
	#login form input[type="submit"]:hover{background-position:-168px -27px;}
/*
===================================
SEARCH RESULSTS
===================================
*/
#common_rightbox{text-align:right;margin-top:5px;}
	#common_rightbox a,#common_rightbox_loged a{font-weight:bold;font-size:14px;}
#common_rightbox_loged{text-align:right;padding:5px;}
/*
===================================
COMMON SEARCH
===================================
*/
#common_search{}
	#common_search form{margin:0 auto;width:620px;padding:15px 0}
	#common_search fieldset{font-size:20px;}
		#common_search fieldset label,#common_search fieldset select,#common_search fieldset .litle_left, #common_search fieldset input{
																								display:block;
																								float:left;
																								height:40px;
																								line-height:40px;
																								font-size:18px;
																								margin:0;
																								}
	
	#common_search fieldset .litle_left,#common_search fieldset input[type="submit"]{background:url("../img/lupa_search.jpg") 0 0 no-repeat;}
	#common_search fieldset .litle_left{width:9px;}
	#common_search fieldset select,#common_search fieldset input[type="text"]{}
	#common_search fieldset input[type="text"]{height:36px;padding-left:5px;width:300px;}
	#common_search fieldset select{padding-top:7px;}
	#common_search fieldset select,#common_search fieldset input[type="text"]{
															border-top:solid 1px #da8e2f;
															border-bottom:solid 1px #da8e2f;
															border-left:none;
															border-right:none;
															background-color:#ead8a5;
															}
	#common_search fieldset input[type="submit"]{
									border:none;width:102px;margin:0;
									text-align:center;
									color:#fff;
									cursor:pointer;background-position:-51px 0px;}
	#common_search fieldset input[type="submit"]:hover{background-position:-51px -41px;}

/*
===================================
SEARCH RESULSTS
===================================
*/
#search_result{padding:20px 0;}
#search_result li{border-bottom:1px dotted #008AC9;font-size:14px;margin-top:0px;margin-bottom:20px;padding-bottom:20px;}
		#search_result li p strong{font-weight:bold;padding-right:2px;}
		#search_result li p.name{font-size:20px;padding-top:5px;}
		p.religious strong{color:#14761B;}
		p.local strong{color:#FF6C00;}
		p.other strong{color:#114D5E;}
	
#more_results{font-size:16px;font-weight:bold;text-align:center;margin-bottom:5px;}
#paginate_result{padding-bottom:20px;text-align:center;}
	#paginate_result li{display:inline;padding:5px;}
	


/*
===================================
Vizualização da paróquia ou capela. Usuário
===================================
*/
#parish,
	#user{font-size:14px;}
	#parish h2,
		#user h2{font-size:16px;font-weight:normal;color:#008AC9;}
		#parish #info p,
			#user #info p{margin-bottom:5px;}
			#parish #info p strong,
				#user #info p strong{color:#15508A;font-weight:700;padding-right:5px;}
				#parish #info p a.img_list,
					#user #info p a.img_list{border:1px dotted #e2e2e2;display:block;overflow:hidden;padding:5px;width:112px;}
				#parish #info p a img,
					#user #info p a img{border:1px solid #e2e2e2;}
			/*diferenciação por cores das informações*/
			#parish #info p.religious strong
				#user #info p.religious strong{color:#14761B;}
			#parish #info p.local strong,
				#user #info p.local strong{color:#FF6C00;}
			#parish #info p.other strong,
				#user #info p.other strong{color:#114D5E;}

	#parish #info, #parish #render_map{margin-top:20px;margin-bottom:20px;}
	#parish #render_map{overflow:hidden;}
	#user{padding-bottom:20px;}



/*
===================================
Nova conta usuário / Contato
===================================
*/
#new_account,#contact{font-size:14px;}
	#new_account form,#contact form{padding-bottom:30px;}
		#new_account form legend,#contact form legend{font-size:24px;padding:20px 5px 5px 0;}
		#new_account form fieldset,#contact form fieldset{padding:20px;}
			#new_account form fieldset label,#contact form fieldset label,#new_account form fieldset h3{display:block;font-size:16px;height:40px;float:left;line-height:40px;margin:10px 5px 10px 0;padding-left:5px;text-align:right;width:150px;}
			#new_account form fieldset input,#new_account form fieldset select,
			#contact form fieldset input,#contact form fieldset select{font-size:14px;margin-top:10px;}
			#new_account form fieldset select,#contact form fieldset select{margin-top:20px;}
			#new_account form fieldset input,#new_account form fieldset p.tos,
			#contact form fieldset input,#contact form fieldset textarea{border:1px solid #DA8E2F;background-color:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;height:40px;}
			#new_account form fieldset input:focus{border-color:#CC4726;}
			#new_account form fieldset p.tos{overflow:auto;}
			#new_account form fieldset input[id="nome"],#new_account form fieldset input[id="email"],
			#contact form fieldset input[id="nome"],#contact form fieldset input[id="email"]{width:350px;}
			#new_account form fieldset p.tos,#contact form fieldset textarea{font-size:10px;height:80px;width:450px;padding:5px;margin-top:10px;}
			#contact form fieldset textarea{font-size:14px;}
			.tos-agree{font-size:16px; padding:10px;margin-top:15px;}
			#new_account form input[type="submit"],#contact form input[type="submit"]{
												background:url("../img/back_link.jpg")0 0 no-repeat;
												border:none;
												color:#fff;
												cursor:pointer;
												display:block;
												font-size:20px;
												line-height:40px;
												height:40px;
												position:relative;
												left:180px;
												text-align:center;
												width:191px;
												}
			#new_account form input[type="submit"]:hover,#contact form input[type="submit"]:hover{background-position:0 -40px;}	
				
				
/*
===================================
TOS / Política de Privacidade
===================================
*/
#tos{margin:20px 0;}
	#tos ul li{}
		#tos ul li a{background-color:#EAD8A5;-moz-border-radius:5px;float:left;font-size:16px;font-weight:bold;margin-right:1px;padding:10px;}
	#tos div{margin:20px 0; text-indent:20px;}
.ui-tabs .ui-tabs-hide{display: none !important;}	
.ui-state-active a, .ui-widget-content .ui-state-active a{color:#B52E29;cursor:text;}
.ui-widget-content .ui-state-active a:hover{text-decoration:none;}
				
				
/*
===================================
ADMIN
===================================
*/				
#admin_menu{margin:20px 0;}
	#admin_menu ul li a{background-color:#EAD8A5;-moz-border-radius:5px;float:left;font-size:16px;font-weight:bold;margin-right:1px;padding:10px;}
.logged{margin-top:30px;}
.logged .logout{color:#B52E29;}
/*
===================================
ADMIN/STEPS
===================================
*/
.steps h2{font-weight:bold;font-size:18px;margin:10px 0;}				
form.step-1{padding:0 15px 10px 15px; margin-bottom:20px;}
form.step-1 fieldset{margin-bottom:30px;}
	
	form.step-1 legend{font-weight:bold;font-size:18px;margin:10px 0;}
	form.step-1 a{font-size:12px;}
	form.step-1 label{display:block;font-size:14px;margin:5px 0;}
	form.step-1 input[type="text"],
	form.step-1 textarea{border:1px solid #DA8E2F;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
	form.step-1 input[type="submit"]{background-color:#E87817;border:1px solid #DA8E2F;color:#FFF;cursor:pointer;font-size:16px;margin:10px 0 0 10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
	form.step-1 a.next{background-color:#E87817;border:1px solid #DA8E2F;color:#FFF;cursor:pointer;font-size:16px;margin-left:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
	.litle{width:50px;}
	.strong{width:300px;}
/*
===================================
ADMIN/EDIT
===================================
*/
#edit{margin-bottom:30px;}	
	#edit table tr{margin-top:10px;text-align:center;}
		#edit table tr th{font-weight:bold;font-size:18px;margin:10px 0;}	
		#edit table tr td{border-bottom:1px solid #B52E29;padding:10px;margin-top:10px;font-size:14px;}
		#edit table tr td.exclude{/*background-color:#B52E29;*/}
			#edit table tr td.exclude a{color:#B52E29;}
		#edit table tbody tr:hover{background-color:#F2DEB3;cursor:default;}
/*
===================================
ADMIN/EDIT_ACCOUNT/PARISH
===================================
*/
#edit_account,#edit_parish{margin-bottom:30px;}
	#edit_account form fieldset,
		#edit_parish form fieldset{margin-bottom:30px;}
		#edit_account form fieldset legend,
			#edit_parish form fieldset legend{font-weight:bold;font-size:18px;margin:10px 0;}
		#edit_account form fieldset label,
			#edit_parish form fieldset label{display:block;font-size:14px;margin:5px 0;}
		#edit_account form fieldset input,
			#edit_parish form fieldset input,
				#edit_parish form fieldset textarea{border:1px solid #DA8E2F;font-size:14px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
		#edit_account form fieldset input,
			#edit_parish form fieldset input[name="nome"],
			#edit_account form fieldset input[name="email"],
				#edit_parish form fieldset input[name="email"],
				#edit_parish form fieldset textarea{width:300px;}
	#edit_account form input[type="submit"],
		#edit_parish form input[type="submit"]{background-color:#E87817;border:1px solid #DA8E2F;color:#FFF;cursor:pointer;font-size:16px;margin-left:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
			#edit_account form ul,
				#edit_parish form ul{margin-bottom:20px;}
				#edit_account form ul li a,
					#edit_parish form ul li a{background-color:#EAD8A5;-moz-border-radius:5px;float:left;font-size:16px;font-weight:bold;margin-right:1px;padding:5px;}

/*
===================================
MASTER ADMIN
===================================
*/
#master_menu{margin:30px 0;}
	#master_menu ul li a{background-color:#EAD8A5;-moz-border-radius:5px;float:left;font-size:16px;font-weight:bold;margin-right:1px;padding:10px;}der:1px solid #DA8E2F;color:#FFF;cursor:pointer;font-size:16px;margin-left:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
			#edit_account form ul,
				#edit_parish form ul{margin-bottom:20px;}
				#edit_account form ul li a,
					#edit_parish form ul li a{background-color:#EAD8A5;-moz-border-radius:5px;float:left;font-size:16px;font-weight:bold;margin-right:1px;padding:5px;}

/*
===================================
MASTER ADMIN
===================================
*/
#master_menu{margin:30px 0;}
	#master_menu ul li a{background-color:#EAD8A5;-moz-border-radius:5px;float:left;font-size:16px;font-weight:bold;margin-right:1px;padding:10px;}
	
/*
===================================
EDIT/form
===================================
*/
#edit form{margin-bottom:30px;}
#edit form fieldset{margin-bottom:20px;}
#edit form fieldset label{display:block;font-size:14px;margin:5px 0;}
#edit form fieldset input,#edit form fieldset textarea{border:1px solid #DA8E2F;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;width:300px;}
#edit form input[type="submit"]{background-color:#E87817;border:1px solid #DA8E2F;color:#FFF;cursor:pointer;font-size:16px;margin-left:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}
