/*
	@author - Marcos Paiva.
	@App - Cadastro de Paróquias e Capelas.
	@version - beta.
	
	This file refers to the module responsible for the style of the first page of this application.
	If you have any questions, please contact:eu.marcos.paiva@gmail.com
	
*/

/*The color reference: CC4726 as first - #E87817 as light blue - #FF6C00as orange over*/

#main_home h1{background:url("../img/logo_top.jpg") 0 0 no-repeat;height:200px; text-indent:-9999px; overflow:hidden;position:relative;top:-10px;left:30px;}
#main_home  #first{font-size:20px; margin-top:15px;color:#CC4726;}
#main_home  #second{font-style:italic;font-size:16px;margin-top:20px;color:#E87817;}
	#main_home  #second em{font-weight:bold;font-size:12px;color:#008AC9;}

#main_search{}
	#main_search label.lupe{display:block;width:26px;height:40px;margin:0;float:left;text-indent:-1000px;overflow:hidden;margin-left:27px;}
	#main_search label.lupe:hover{background-position:0 -41px;}
	#main_search input[type="text"]{border-top:solid 1px #da8e2f;
									border-bottom:solid 1px #da8e2f;
									border-left:none;
									border-right:none;
									background-color:#ead8a5;
									display:block;
									float:left;
									height:30px;
									width:300px;
									font-size:18px;
									height:36px;
									}
	#main_search label.lupe,#main_search  input[type="submit"]{background:url("../img/lupa_search.jpg")0 0 no-repeat}
	#main_search  input[type="submit"]{
									display:block;
									width:102px;
									height:40px;
									margin:0;
									border:none;
									background-position:-51px 0px;
									font-size:20px;
									text-align:center;
									color:#fff;
									cursor:pointer;
									}
	#main_search  input[type="submit"]:hover{background-position:-51px -41px;}

#login{float:left;margin-right:5px;line-height:40px;font-size:20px;margin-left:120px;}

#new_account{background:url("../img/back_link.jpg")0 0 no-repeat;line-height:40px;height:40px;overflow:hidden;text-align:center;width:191px;}
#new_account:hover{background-position:0 -40px;}
	#new_account a{width:170px; text-align:center; font-size:20px;color:#fff;text-decoration:none;}


#vicinity{padding:20px 0;}
	#vicinity h2{margin-bottom:20px;}
	#vicinity ul li p.name{margin-top:5px;text-transform: capitalize;}