/*
	@author - Marcos Paiva.
	@App - Cadastro de Paróquias e Capelas.
	@version - beta.
	
	This is the style of the entire application.
	All styles will be fragmented, so that the load is optimized, from that base file. This is all based on the concept of modulation,
	like that proposed here:"http://www.tableless.com.br/modulando-o-css".
	
	Please don`t change this structure
	
*/

/*Imports*/
@import url("grid.css");

/* reset css v1.0 | 20080212 */
*{font-family:"Trebuchet MS", verdana,arial,sans-serif;font-weight:400;color:#222;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;letter-spacing:normal;word-spacing:0;}
body{line-height:1;text-align:center}
body *{text-align:left} 
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before, blockquote:after,q:before,q:after{content:'';content:none}
/* remember to define focus styles! */
:focus{outline:0}
/* remember to highlight inserts somehow! */
ins{text-decoration:none}
del{text-decoration:line-through}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0}
/*************************************************/

/*The color reference: #CC4726 as first - #E87817 as light blue - #FF6C00 as orange over  ##CC4726  E87817*/

/*Global styling *******************************************************/
body{background-color:#E87817;}
div.total{background:#F9F0DE;}
div.total_search{background:#fbf3e4;border-top:1px solid #dabd84;border-bottom:1px solid #dabd84;height:70px;}
a{text-decoration:none; color:#E87817}
a:hover{text-decoration:underline;color:#008AC9;}
hr{color:#008AC9;}

.title{color:#CC4726;font-size:24px; padding:20px 0 5px 0;}

/*rate*/
.reliable_rate{background-color:green;padding:2px;}
.unreliable_rate{background-color:red;padding:2px;}

/**/
li a img{border:1px solid #F2DEB3;}
li a.img_list{border:1px dotted #F2B54F;overflow:hidden;float:left;margin-bottom:5px;padding:5px;}	
li p{position:relative;left:10px;margin-bottom:5px;}

/*Declaration top to be common to all pages ***************************************/
#common_menu{}
	#common_menu li a{font-weight:bold;display:block;float:right;margin-right:1px;padding:20px 0 0 10px;font-size:14px;}

/*Declaration footer to be common to all pages ***************************************/
.footer_100{background:url("../img/background_foot.jpg") 0 0 repeat-x #E87817;}
#footer{height:67px;font-size:12px;}
	#footer #links{margin-top:10px;}
		#footer #links ul li a{color:#222222;font-weight:600;display:block;float:left;padding:5px;margin:2px;}

#copy{height:67px;text-align:right;line-height:67px;margin-top:10px;}
	#copy #cn_sig{display:block;width:100px;height:27px;float:right;margin:15px 10px 10px 10px;background:url("../img/cn_vertical.gif") 0 0 no-repeat;text-indent:-1000px;overflow:hidden;}