/*
	@author - Marcos Paiva.
	@App - Mapa Católico - 
	@version - beta.
	
	It`s a core of the Mapa Católico redesign.
	It`s the main style.
	Enjoy it.
	
*/

@import url("reset.css"); 
@import url("grid.css");

/*@special classes*/
.rounded{   border:#ffe2c3 1px solid;
								border-radius: 5px;
  								-webkit-border-radius: 5px;
  								-moz-border-radius: 5px;
							}
._rounded, .rounded_{border: 1px solid #999;}
._rounded{ 					-webkit-border-top-right-radius: 5px;
							-webkit-border-bottom-right-radius: 5px;
							-moz-border-radius-topright: 5px;
							-moz-border-radius-bottomright: 5px;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;}
.rounded_{					-webkit-border-top-left-radius: 5px;
							-webkit-border-bottom-left-radius: 5px;
							-moz-border-radius-topleft: 5px;
							-moz-border-radius-bottomleft: 5px;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
							}
.sprite,.carousel-pagination p a, ul#paginate li a, ul#paginate #pags a{background:url("../img/sprite.png") 0 0 no-repeat transparent; overflow:hidden;}
.btn{background-color:#991313; border:none; color:#fff;display:block;overflow:hidden; padding:5px; text-transform: lowercase;}
	.btn:hover{background:#cd2b2b;}


/*===================general====================*/
body{background:url("../img/back.jpg") 0 0 repeat-x #fef2e5 ;}
hr{border-color:#baac9e; margin:15px 0;}
/*===================top====================*/
#top{height:130px;margin-bottom:20px;}
#top header a{background-image:url("../img/brand.png");margin:15px 0 0 13px;width:230px;float:left; height:100px;overflow:hidden;text-indent:-1000px;}
#top #search_form{margin:48px 0 0 60px;width:312px;float:left;}
	#top #search_form input[type="text"]{display:block;border-color: #ffe2c3; color:#999; width:241px; padding:10px 5px; float:left;}
	#top #search_form input[type="submit"]{background:#991313;border: none;color:#fff;padding:10px 6px;width:55px;}
#top nav ul{float:left;margin:50px 0 0 60px;width:339px;}
	#top nav ul li a{background:#991313;color:#FFF;border:none; display: block;float:left; margin:0 5px 0 0;padding:10px 5px;text-transform:lowercase;}
		#top nav ul li a:hover, #top #search_form input[type="submit"]:hover, #top nav ul li a.active{background:#cd2b2b;}
		#top nav ul li a.active.sign_in{height:40px;}
		 a span.link{display:block; float:left;}
		#top nav ul li a span.sprite{background-position:-210px 3px;display:block;width:15px;float:right;text-indent:-1000px;}
			#top nav ul li a.active.sign_in span{background-position:-227px 3px;}
			#top nav ul li p{font-size:12px;clear:both;padding-top:10px;}
				#top nav ul li p a{display:inline;background-color:transparent;color:red;float:none;}
				#top nav ul li p a:hover{background-color:transparent;}
/*===================content====================*/
.title{color:#991313; font-size:24px; font-weight:normal;text-shadow:0 1px #fff;}
/*wrapper*/
.wrapper{background-color:#fdf7ee;border-color:#baac9e;margin-top:20px;text-shadow:0 1px #fff;}
	.wrapper .left{border-right: 1px solid #baac9e;width:737px;float:left;}
	.wrapper .map{height:500px;color:#fff;}
		 #map_canvas{width:737px;height:500px;}
	.wrapper ul.list{width:240px;min-height:300px;float:left;margin-left:15px;}
	.wrapper ul.list li{border-bottom:#baac9e 1px solid;float:left;width:217px;padding:15px 0;}
	.wrapper ul.list li a{display:block;}
		.wrapper ul.list li a img{float:left;margin-right:10px;}
		.wrapper ul.list li a h2{font-size:14px;}
		.wrapper ul.list li a h2, .wrapper ul li a h3 {font-weight:normal;}
		.wrapper ul.list li a h3{color:#cc341b;font-size:12px; margin-top:5px;}
		.wrapper ul.list li a .see{background:#fdf7ee;border:none;display:block;font-size:10px;padding:3px;width:30px;margin-top:45px;float:left;position:absolute;right:180px;
				filter:alpha(opacity=80);
		        -moz-opacity:0.8;
		        -khtml-opacity: 0.8;
		        opacity: 0.8;
		}
		.wrapper ul.list li a:hover .see{filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity: 1;
        opacity: 1;}
		ul#paginate{float:left; margin-top:8px ;width:150px;}
			 	ul#paginate li{float:left;}
					ul#paginate li a.btn{background-color:#991313;width:20px;height:20px;text-indent:-1000px;padding:0;}
						ul#paginate li a.btn:hover{background:url("../img/sprite.png") 0 0 no-repeat #cd2b2b; overflow:hidden;}
					ul#paginate li a.btn.prev{background-position:-258px 3px;margin:0 10px;}
					ul#paginate li a.btn.next{background-position:-241px 3px;margin:0 5px;}
					ul#paginate #pags a{background-position:-198px 0;display:block;float:left;margin:5px 5px 0 0;width:10px; height:10px;text-indent:-1000px;}
					ul#paginate #pags a.active{background-position:-187px 0;display:block;float:left;margin:5px 5px 0 0;width:10px; height:10px;text-indent:-1000px;}
#ad span{font-size:10px;}
#refresh{height:60px;margin:16px 11px 0 12px;}
	#refresh header h1{color:#991313;height:48px;float:left;font-size:14px;padding:12px 0 0 12px;width:93px;}
 	/*sets do slider*/
	.carousel-control{display:none;}
	.carousel-wrap{float:right;width:348px;}
		.carousel-wrap ul{margin:0;padding:10px;}
			.carousel-wrap ul li{color:#cc341b;height:60px;font-size:11px;}
	.carousel-pagination{background-color:#fcead7;border-right:1px solid #baac9e;border-left:1px solid #baac9e;float:left;height:60px;width:25px;}
		.carousel-pagination p{margin:18px 0 0 10px; }
			.carousel-pagination p a{background-position:-194px -13px;display:block;height:7px;width:7px;overflow:hidden;text-indent:-1000px;margin:5px 0;cursor:pointer;}
				.carousel-pagination p a.active{background-position:-187px -13px;}
/*===================sign_box====================*/
#sign_box{width:180px;border:#cd2b2b 4px solid;background-color:#fef2e5;display:none;position:absolute;z-index:10;margin:43px 0 0 60px;}
	#sign_box form{border:none;}
		#sign_box form fieldset legend{display:none;}
		#sign_box form fieldset label{color:#991313; display:block;font-size:12px; margin:10px 0 0 10px; text-transform:lowercase;}
		#sign_box form fieldset input{border-color:#baac9e;color:#999;margin:0 0 0 10px;padding:1px 5px; width:140px;}
		#sign_box form input[type="submit"]{border:none; background-color:#991313; color:#fff;margin:10px 0 10px 10px;text-transform:lowercase;} 
		#sign_box form a.forgot{background:transparent;color:#991313;font-size:11px;float:right;margin:13px 10px 0 0;padding:0;text-transform:lowercase;}
			#sign_box form a.forgot:hover{background:transparent;}
/**/
section#info{}
	section#info div{width:270px; float:left;}
		section#info div p{ color:#cc341b;font-size:18px;font-weight:bold; margin-left:20px; line-height:24px;}
		section#info #institucional{color:#cc4e3e; font-size:12px; line-height:20px; margin:0 20px; padding-top:10px;}
		section#info #description{font-size:14px; line-height:18px; margin:0 20px;}
		section#info p{color:#991313; margin:0 20px;}
		section#info p small{color:#cc4040; font-size: 10px;}
		section#info p#update{margin-bottom:20px;}
/**/
#fn{background-color:#fef2e5;border-top:1px solid #baac9e;padding-top:15px;}
	#fn ul{margin-left:10px;height:30px;text-transform:lowercase;}
		#fn ul li{float:left; margin-right:5px;}
			#fn ul li #route, #fn ul li #here, #fn ul li .share{border-color:#baac9e;background-color:#f2efe9;color:#991313;display:block;float:left;padding:6px;}
				#fn ul li #route{width:100px;}
				#fn ul li #route span.sprite{background-position:-210px -9px;display:block;width:15px;height:15px;float:right;text-indent:-1000px;}
				#fn ul li #route.active{height:23px;border-bottom:none;position:relative;z-index:10;
											-webkit-border-top-right-radius: 5px;
											-webkit-border-bottom-right-radius: 0px;
											-moz-border-radius-topright: 5px;
											-moz-border-radius-bottomright: 0px;
											border-top-right-radius: 5px;
											border-bottom-right-radius: 0px;
											-webkit-border-top-left-radius: 5px;
											-webkit-border-bottom-left-radius: 0px;
											-moz-border-radius-topleft: 5px;
											-moz-border-radius-bottomleft: 0px;
											border-top-left-radius: 5px;
											border-bottom-left-radius: 0px;}
			#fn ul #twitt{margin:5px 0 0 30px;width:105px;}
			#fn ul #face{margin:5px 0 0 0}
			#fn ul li .share{font-size:12px;margin:5px 4px 0 0;padding:2px 5px;}
				#fn ul li .share span.sprite{background-position:-187px -22px;display:block;width:18px;height:13px;float:left;margin-right:2px;text-indent:-1000px;					}
#trace{background-color:#f2efe9;border:#baac9e 1px solid;display:none;height:100px;width:360px;position:absolute;margin-top:35px;z-index:9;					-webkit-border-top-left-radius: 0px;
					-moz-border-radius-topleft: 0px;
					border-top-left-radius: 0px;}
	#trace fieldset{background-color:#f8f7f4;border:none;height:70px;width:330px;margin:5px 0 0 5px; padding:10px;}/*#f8f7f4*/
		#trace fieldset label{display:block; padding:5px;}
		#trace fieldset input[type="text"]{width:287px;float:left;padding:5px;margin-right:none;}
		#trace fieldset input[type="submit"]{float:left;margin:0;}
/*===================forms====================*/
form div, form p{margin-top:20px;margin-bottom:10px;}
	form div label{display:block;}
	form div input,form div textarea, form div select{padding:8px; width:400px;}
	form input.btn{margin-left:10px;}
/*===================tos====================*/
#tos p{margin-top:20px; text-indent:10px;line-height:16px;}
/*===================admin====================*/
#user.title{height:62px; line-height:62px;}
	#user.title img{float:left;margin-right:10px;}
/*===================footer====================*/
#footer{height:50px;margin-top:20px;}
	#footer ul{line-height:50px;}
	#footer p{font-size:12px; color:#991313;padding-top:5px;text-align:right;}
	#footer ul li{float:left; margin-right:20px;}
		#footer ul li a img{vertical-align:middle;}	